<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Gharelu Utpadan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "font-size:30px;font-family:Comic Sans MS;", })
            </div>
            @**@
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" }) </li>
                    <li class="nav-item">@Html.ActionLink("Products", "Product", "Product", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Login", "Login", "Account", new { @class = "glyhpicon glyphicon-user nav-link " })</li>
                    <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>